<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/stylesfriends.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&family=Playfair+Display:ital@1&family=Yatra+One&family=Courgette&display=swap" rel="stylesheet">
  <title>@ Friends💯</title>
</head>
<body>
<section id="friends-all">
  <div class="friend-heading">
    <h1>Friends</h1>
    <p>I got some 😒.<br>They ain't that bad...</p>
  </div>
  <div class="friends">
    <div class="friend-1 ">
      <img class="img-friends"src="images/kibi2.png" alt="kibi.png">
      <h2>kibi_the_great</h2>
      <p>Never grasped where the great came from..stupid as___<br/>His shit's down here </p>
      <a href="/kibiwot" class="btn">Kibi</a>
    </div>
    <div class="friend-1">
      <img src="images/kibenon.png" alt="kibenon.png">
      <h2>Collo</h2>
      <p>Want insults? Come meet this geezer, he has a lot___ </p>
      <a href="/kibenon" class="btn">Kibenon</a>
    </div>
    <div class="friend-1">
      <img class="img-friends"src="images/deno.png" alt="dk.png">
      <h2>Denno</h2>
      <p>aka Dk, quick feet ...st wa nguvu___ </p>
      <a href="#" class="btn">Denno</a>
    </div>
    <div class="friend-1">
      <img class="img-friends"src="images/steve.png" alt="steve.png">
      <h2>Steve</h2>
      <p>Serious as they come when need be, but Friday is ..... </p>
      <a href="#" class="btn">Steve</a>
    </div>
    <p>....more on the way:-</p>
  </div>
</section>
<footer>
  Friends Inc. <br>&copy <%= thisYear %>
</footer>
</body>
</html>
