<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Margaret Jepkoech</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="css/stylesmum.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Laila&family=Merriweather&family=Montserrat:wght@300&family=Girassol&family=Pacifico&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<body>

  <div class="top-container">
    <h1>I'm Margaret</h1>
    <h2>a mother, nurse and friend</h2>
  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="mumImg" src="mum4.png" alt="mum.png">
      <h2>Hi ..</h2>
      <p>I,m a mother of three not-quite great boys.<br> A nurse to quite a growing clientelle of elderly and young alike. A friend to many ...<br><strong>Yeah that's me..🤞🏾</strong></p>
    </div>
    <hr>

    <div class="kids">
      <h2>My Kids</h2>
      <div class="kid-row">
        <img class="kim" src="images/retro.jpg" alt="leskim.png">
        <h3>Lesley Kimutai</h3>
        <p>He's my first born child, He's known as Kim</p>
      </div>

      <div class="kid-row">
        <img class="cedy" src="images/cedy.png" alt="cedy.png">
        <h3>Cedric Kibet</h3>
        <p>He's my second born child, cheeky as the ever get . We call him Cedy</p>
      </div>
      <div class="kid-row">
        <img class="chichi" src="images/cecil.png" alt="chichi.png">
        <h3>Cecil Kipchirchir</h3>
        <p >He's my last born child, quiet and mature. We call him Chichi.</p>
      </div>
    </div>
    <hr>

    <div class="skills">
      <h2>My resume</h2>
      <a href="Resume2.docx"></a>
    </div>
    <hr>

    <div class="contact-me">
      <h2>Find me</h2>
      <h3>Always glad to help out </h3>
      <p>Mother always and forever</p> <br>
      <a class="btn btn-outline-primary" href="mailto:mjkiplagat01@gmail.com?subject=feedback">EMAIL ME</a>
    </div>
  </div>

  <div class="bottom-container">
    <a class="footer-link" href="https://web.facebook.com/margaret.jepkoechchristopher">Facebook</a>
    <p class="footer">Margaret Jepkoech.<br>&copy <%= thisYear %> </p>

  </div>


</body>

</html>
